*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Signika', sans-serif;
}
body
{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0,0.50),rgba(0, 0, 0,0.75)),url("https://i.pinimg.com/originals/6f/de/aa/6fdeaabc62260a2762b3ba76e4428ad0.png");
    background-size: cover;
    background-position: center;
}


.container
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.title
{
    width: 100%;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 50px;
}


ul li a
{
    
    color: rgba(36, 0, 70, 0.75);
    padding: 5px 20px;
    border: 4px solid rgba(36, 0, 70,0.50);
    border-radius: 10px;
    transition: 1s;
}

ul li a:hover
{
    border: 1px solid rgba(36, 0, 70,0.50);
    background-color: rgba(36, 0, 70,0.50);
    color: white;
}
