
p
{
    font-family: Arial Black;
    text-align: center;
    color:black;
    font-size: 25px;
}
.grd1
{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    
}

.grd2
{
    display: grid;
    grid-template-rows: 200px 300px 100px;
    grid-template-areas: "uno uno dos dos" "tres cuat cuat cuat" "cin cin cin cin";
    gap: 10px;
}

.grd2_1
{
    grid-area: uno;
    background-color: #D4E09B;

}

.grd2_2
{
    grid-area: dos;
    background-color: #F6F4D2;
}

.grd2_3
{
    grid-area: tres;
    background-color: #CBDFBD;
}

.grd2_4
{
    grid-area:cuat;
    background-color: #F19C79;
}

.grd2_5
{
    grid-area: cin;
    background-color: #A44A3F;
}
.grd3
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
}

.grd3_3
{
    grid-row: 2 / span 2;
}

.grd3_4
{
    display: grid;
    grid-row: 2 / span 2;
    grid-template-areas: "h h" "w1 w2";
    gap: 10px;
    padding: 10px;
    justify-items: center stretch;
}
.grd3_5
{
    
    grid-area: h;
}
.grd3_6
{
    grid-area: w1;
}
.grd3_7
{
    grid-area: w2;
}



.grd4
{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 150px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
}
.grd4_1
{
    grid-area: 1 / 1 / 2 / 3;
    background-color: #F08080;
}
.grd4_2
{
    grid-area: 1 / 3 / 3 / 4;
    background-color: #F4978E;
}
.grd4_3
{
    grid-area: 2 / 1 / 3 / 2;
    background-color: #F8AD9D;
}
.grd4_4
{
    grid-area: 2 / 2 / 3 / 3;
    background-color: #FBC4AB;
}

.grd5
{
    display: grid;
    /* grid-template-areas: "yel seb pau gus perro seb" "ivn yel seb pau ivn gus" "yel gus perro seb yel perro"; */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:10px;
}
.grd5 img
{
    width: 230px;
    height: 230px;
}

.grd6 
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
}

.grd6_1
{
    background-color: #e5c1f3;
}

.grd6_2
{
    background-color: #a192dc;
}

.grd6_3
{
    background-color: #bea2f4;
}

.grd6_4
{
    background-color: #efe4f8;
}

.grd6_5
{
    background-color: #d6b2ef;
}

.grd6_6
{
    background-color: #8b86d1;
}

#grd6_8
{
    grid-area: 2/3/2/-1;
}
#grd6_9
{
    grid-area: 3/1/3/-1;
    
}

.grd7 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px);
    gap: 10px;
}

.grd7_1
{
    grid-area: 1/1/1/-1;
    background-color: #55CCD4;
}

.grd7_2
{
    grid-row: span 2;
    background-color: #C7DAC7;
}
.grd7_3
{
    grid-area: 2/2/4/-1;
    background-color: #FE6786;
}
.grd7_4
{
    grid-area: 4/1/4/-1;
    background-color: #FE8D7B;
}

.grd8 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 150px);
    gap:10px;
    padding: 10px;
    grid-auto-flow: column;
}

.grd8_1
{
    grid-area: 1/1/1/3;
    background-color: #4C7DC7;
}

.grd8_4
{
    grid-area: 3/1/5/3;
    background-color: #9797F1;
}

.grd8_5
{
    grid-area: 5/1/5/4;
    background-color: #DF8DE2;
}

.grd8_11
{
    grid-area: 3/4/3/4;
    background-color: #FBDAEB;
}

.grd8_12
{
    grid-area: 5/4/-1/4;
    background-color: #F7E6F1;
}

.grd9
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 200px 200px;
    gap:10px;
}

.grd9_1
{
    grid-area: 1/1/1/-1;
    background-color: #D88C9A;
}
.grd9_2
{
    grid-area: 2/1/-1/1;
    background-color: #D46B86;
}
.grd9_3
{
    grid-area: 2/2/2/-1;
    background-color: #ED7898;
}

#btnS
{
    left: 85%;
    bottom: -100%;
    position: relative;
}

#btnN
{
    right: 0%;
    bottom: 0%;
    position: relative;
}