
p
{
    font-family: Arial Black;
    text-align: center;
    color:black;
    font-size: 25px;
}
.grd1
{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 200px); 
    gap: 0px 0px;
    
}

.grd1 img
{
    width: 350px;
    height: 200px;
}


.grd2
{
    display: grid;
    grid-template-rows: 200px 300px 100px;
    grid-template-areas: "uno uno dos dos" "tres cuat cuat cuat" "cin cin cin cin";
}

.grd2_1
{
    grid-area: uno;
    background-color: #D4E09B;

}

.grd2_2
{
    grid-area: dos;
    background-color: #F6F4D2;
}

.grd2_3
{
    grid-area: tres;
    background-color: #CBDFBD;
}

.grd2_4
{
    grid-area:cuat;
    background-color: #F19C79;
}

.grd2_5
{
    grid-area: cin;
    background-color: #A44A3F;
}
.grd3
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
}

.grd3_3
{
    grid-row: 2 / span 2;
}

.grd3_4
{
    display: grid;
    grid-row: 2 / span 2;
    grid-template-areas: "h h" "w1 w2";
    gap: 10px;
    padding: 10px;
    justify-items: center stretch;
}
.grd3_5
{
    
    grid-area: h;
}
.grd3_6
{
    grid-area: w1;
}
.grd3_7
{
    grid-area: w2;
}

.grd5
{
    display: grid;
    grid-template-areas: "yel seb pau gus perro seb" "ivn yel seb pau ivn gus" "yel gus perro seb yel perro";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}
.grd5 img
{
    width: 150px;
    height: 150px;
}



/* .yel
{
    grid-area: repeat(yel);
} */